.App {
  text-align: center;
}

.App-logo {
  height: 60px; /* Adjust the height as needed */
  margin-right: 20px; /* Add margin to separate the logo from other content */
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #ffffff;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the header */
  padding: 20px;
  border-bottom: 1px solid #ccc; /* Add a solid border to the bottom of the header */
}

.App-link {
  color: #0c24c4;
}

.App-link:hover {
  text-decoration: underline;
}

.App-body {
  padding-left: 200px;
  padding-right: 200px; 
  text-align: left; /* Align text to the left within the body */
}


.chat-container {
  margin: 0 auto;
}

.chat-window {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: flex-start;
  padding: 12px 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  max-width: 100%;
}

.message.user {
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
}

.profile-photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message.bot {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.input-box {
  display: flex;
  margin-bottom: 10px;
  align-items: center; /* Align items vertically */
  width: 100%; /* Ensure input-box takes full width */
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.input-box button {
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.timestamp {
  font-size: 0.7em;
  color: #8e8e8e; /* Adjust color as needed */
  margin-right: 5px; /* Optional: Adjust spacing */
}

strong {
  font-weight: bold;
}